@import url(reset.css);


.container-clearfix1 {
    width: 1200px;
    margin: 0 auto ;
}
.blok1 {
    width: 400px;
    height: 400px;
    float: left;
    background: green;
    outline: 2px solid black;
}
.blok2 {
    width: 400px;
    height: 400px;
    float: left;
    background: green;
    outline: 2px solid black;
}
.blok3 {
    width: 400px;
    height: 400px;
    float: left;
    background: green;
    outline: 2px solid black;
}



.container-clearfix2 {
    width: 1200px;
    margin: 0 auto;
    }
    .clearfix {
        clear: left;
    }

.blok4 {
    width: 800px;
    height: 200px;
    float: left;
    background: goldenrod;
    outline: 2px solid black;
}
.blok5 {
    width: 800px;
    height: 200px;
    float: left;
    background: goldenrod;
    outline: 2px solid black;
}

.container-clearfix3 {
    width: 400px;
    margin: 0 auto;
}
.clearfix {
    clear: left;
}

.blok6 {
    width: 400px;
    height: 133px;
    float: left;
    background: aqua;
    outline: 2px solid black;
}

.blok7 {
    width: 400px;
    height: 133px;
    float: left;
    background: aqua;
    outline: 2px solid black;
}

.blok8 {
    width: 400px;
    height: 133px;
    float: left;
    background: aqua;
    outline: 2px solid black;
}

.clr {
    clear: left;
}